<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @{
            var isFirst = true;
            System.Text.StringBuilder  sb = new System.Text.StringBuilder();
            for (int i = 0; i < Model.ServicePhotos.Count;i++ )
            {
                if(isFirst)
                {
                    sb.Append("<li data-target='#carousel-example-generic' data-slide-to='");
                    sb.Append(i.ToString());
                    sb.Append("' class='active'></li>");
                }
                else
                {
                    sb.Append("<li data-target='#carousel-example-generic' data-slide-to='");
                    sb.Append(i.ToString());
                    sb.Append("'></li>");
                }
            }
            IHtmlString htmlString1 = new HtmlString(sb.ToString());
        }
        @Html.Raw(htmlString1.ToHtmlString());
    </ol>
    @*<ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>*@
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        @{
            isFirst = true;
            sb.Clear();
            foreach (var sp in Model.ServicePhotos)
            {
               
                if (isFirst)
                {
                     sb.Append(" <div class='item active'>");
                     sb.Append("<img src='" + @sp.OriginalUrl + "' alt='" + @sp.PhotoId + "' />");
                     sb.Append("<div class='carousel-caption'>");
                     sb.Append("<h3" + @sp.OwnerRealName + "</h3></div></div>");
                    isFirst = false;
                }
                else{
                    sb.Append(" <div class='item'>");
                     sb.Append("<img src='" + @sp.OriginalUrl + "' alt='" + @sp.PhotoId + "' />");
                     sb.Append("<div class='carousel-caption'>");
                     sb.Append("<h3>" + @sp.OwnerRealName + "</h3></div></div>");
                }
                
                
            }
            IHtmlString htmlString2 = new HtmlString(sb.ToString());
        }
        @Html.Raw(htmlString2.ToHtmlString())
    </div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
<!-- Carousel -->
